 /* The side navigation menu */
#sidenav {
    height: 100%;
    width: 10%;
    position: fixed;
    background-color: #111; /* Black*/
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    float: left;
}

/* The navigation menu links */
#sidenav a {
    padding: 4px;
    text-decoration: none;
    font-size: 10px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
#sidenav a:hover {
    color: blue;
}

#content{
    width: 90%;
    background-color: aqua;
    float: right;
}